/* =======================================SETUP */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    user-select: none;
}

html,body{
    height: 100%;
}

html { -webkit-tap-highlight-color: transparent; }

b{
    font-weight: 600;
}

/* ======================================= ROOT LAYOUT */
body{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke
}


/* ======================================= HEADER */
.header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.8rem;
    gap: 0.2rem;
}

.header>.text-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


.header>.text-container>.head-title{
    font-family: "Anton";
    font-size: 1.8rem;
}

.header>.text-container>.head-text{
    font-size: 0.8rem;
}


.header>.btn-back,
.header>.btn-help{
    align-content: center;
    font-size:2rem;
    height: 100%;
    cursor: pointer;
    padding: 0;
}

.btn-back.hide{
    visibility: hidden;
}

.header>.btn-help{
    color: rgba(255,255,255,0.5);
}





/* ======================================= TABBAR */
.tabbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
    height: max-content;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.tabbar.hide{display: none;}

.tabbar>.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabbar>.tab.hide{
    display: none;
}

.tabbar>.tab>.icon{
    height: 2rem;
    font-size: 2rem;
    color: rgba(0,0,0,0.7);
}

.tabbar>.tab>.label{
    color: rgba(0,0,0,0.7);
    font-size: 0.8rem;
}

.tabbar>.tab>.pill{
    height: 0.3rem;
    width: 0rem;
    background-color: rgba(0,0,0,1);
    border-radius: 100rem;
    transition: width 200ms;
    margin-bottom: 0.2rem;
}

.tabbar>.tab.active>.pill{
    width: 2rem;
}

.tabbar>.tab.active>.label{
    color: rgba(0,0,0,1);
}

.tabbar>.tab.active>.icon{
    color: rgba(0,0,0,1);
}







/* ======================================= WALL */
.wall-container{
    flex-grow: 1;
    overflow-y: auto;
}

.wall-container>.wall{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    gap: 1rem;
}

@media (max-width:600px){
    .wall-container>.wall{
        grid-template-columns: 1fr;
    }
}


/* ======================================= CARDS - GENERIC */
.card{
    border-radius: 0.6rem;
    background: #e5e5ee;
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px #bebebe, -2px -2px 2px #ffffff;

}


/* .card:hover{ */
    /* filter: invert(); */
    /* box-shadow: none; */
    /* background-color: rgb(168, 62, 255); */
/* } */

/* ======================================= CARDS - SPECIFIC */
.wall-container .span{
    grid-column: 1 / -1;
}

.card.neo{
    box-shadow: 2px 2px 2px #bebebe, -2px -2px 2px #ffffff;
}

.card.noneo{
    box-shadow:none
}

.card.text{
    box-shadow: none;
    background-color: transparent;
    text-align: justify;
    padding: 0;
}

.card.text.center{
    text-align-last: center;
}

.card.text ul{
    padding-left: 1rem;
}


.card.section{
    box-shadow: none;
    background-color: transparent;
    text-align: center;
    font-family: "Anton";
}


.section+.text{
    margin-top: -1rem;
}



.card.map{
    padding: 4px;
}
.card.map iframe{
    width: 100%;
    height: 60vh;
    border: 0;
    border-radius: calc(0.6rem - 4px);
}


/* CATEGORY SELECTOR */
.catbar{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-size: 0.8rem;
}

.catbar.hide{
    display: none;
}

.catbar div{
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
    color:rgba(255,255,255,0.8)
}

.catbar div.active{
    background-color: white;
    color: black;
}






/* ======================================= CARDS - SPECIFIC-II */
/* ===================== EVENTS */
.card.event{
    height: 6rem;
    display: flex;
}


.card.event .svg-logo{
    height: 100%;
    scale: 60%;
    opacity: 80%;
    animation: none;
}

.card.event .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    opacity: 80%;
}

.card.event .text .title{
    font-family: "Lilita One";
    font-size: 1.5rem;
}
.card.event .text .msg{
    font-family: "Poppins";
    font-size: 0.8rem;
    font-weight: 500;
}

/* ==== BREATING EFFECT === */
@keyframes breathing {
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
/* ==== BREATING EFFECT === */

.card.event:hover .svg-logo{
    animation: breathing 1s infinite ease-in-out;
}





/* ===================== PARTICIPANT */
/* Single Member */
.card.participant{
    display: flex;
    gap: 1rem;
}

.card.participant .text{
    flex-grow: 1;
}

.card.participant .text .name{
    font-weight: 500;
}

.card.participant .text .msg{
    font-size: 0.7rem;
    font-weight: 400;
}

.card.participant .icon,
.card.participant .point{
    align-content: center;
}



/* Double Member */
.card.participants{
    display: flex;
    flex-direction: column;
}

.card.card.participants .member-info{
    display: flex;
}

.card.card.participants .members{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
}

.card.card.participants .members>div{
    display: flex;
    gap: 1rem;
}

.card.card.participants .members>div .name{
    font-weight: 500;

}

.card.participants .icon,
.card.participants .point{
    align-content: center;
}

.card.participants .msg{
    padding-top: 0.2rem;
    font-size: 0.7rem;
    font-weight: 300;
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top: 0.5rem;
}

.card.participants .msg.hide{
    display: none;
}


/* ===================== POINTS TABLE */
.card.pts-table{
    display: grid;
}

.card.pts-table table{
    border-collapse: collapse;
}

.card.card.pts-table tr>th{
    text-align: left;
    font-family: "Poppins";
    padding-bottom: 0.5rem;
}

.card.card.pts-table tr>td{
    padding: 0.25rem 0rem;
}

.card.card.pts-table tr:not(:last-child)>td{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.card.card.pts-table tr:nth-child(4)>td{
    border-bottom: 1.5px solid rgba(0,0,0,0.4);
}

.card.card.pts-table tr:nth-child(2)>td{
    border-top: 1.5px solid rgba(0,0,0,0.4);
}

.card.card.pts-table tr>th:last-child,
.card.card.pts-table tr>td:last-child{
    text-align: right;
}





/* ======================================= */
/* Match Card */
.card.match{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.card.match .match-info{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
}

.card.match .match-info div:nth-child(2){
    justify-self: center;
}

.card.match .match-info div:nth-child(3){
    justify-self: end;
}

.card.match .match-info .category{
    /* background-color: rgba(0,0,0,0.9); */
    /* color: rgba(255,255,255,1); */
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,1);
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    width: max-content;
    font-weight: 600;
    font-weight: 500;
    font-family: "Poppins";

}

/* .card.match .match-info .datetime, */
.card.match .match-info .datetime{
    font-weight: 500;
    /* background-color: red; */
}



.card.match .group1,
.card.match .group2{
    display: flex;
    flex-direction: column;
}

.card.match .group1>.member,
.card.match .group2>.member{
    display: flex;
    gap: 0.5rem;
}

.card.match .group2>.member{
    flex-direction: row-reverse;
}

.card.match .group1>.member .name,
.card.match .group2>.member .name{
    font-weight: 400;
}

.card.match .icon{
    font-weight: 100;
    font-size: 1.2rem;
    align-content: center;

}


.card.match .scores{
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem;
}
.card.match .scores.hide{
    display: none;
}


.card.match .scores .g1,
.card.match .scores .g2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card.match .scores *{
    font-family: "Anton";
    font-size: 1.5rem;
    justify-self: center;
    color: rgba(0,0,0,0.7);
}

.card.match .scores *.faint{
    color: rgba(0,0,0,0.2);
}

.card.match .scores .g2{
    border-top: 1px solid rgba(0,0,0,0.3);
}

.card.match .msg{
    text-align: center;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.card.match .msg.hide{
    display: none;
}


/* CARD RESCHEDULE */
.card.reschedule{
    display: flex;
    flex-direction: column;
}

.card.reschedule .res{
    display: flex;
}


.card.reschedule .info{
    align-self: center;
    padding-bottom: 0.4rem;
}


.card.reschedule .info span{
    background-color: rgba(0,0,0,0.1);
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
}

.card.reschedule .cat{
    /* align-self: flex-end; */
    align-self: center;
}

.card.reschedule .res div:nth-child(2){
    flex-grow: 1;
    text-align: center;
}


.card.reschedule .group1,
.card.reschedule .group2{
    display: flex;
    flex-direction: column;
}

.card.reschedule .group1>.member,
.card.reschedule .group2>.member{
    display: flex;
    gap: 0.5rem;
}

.card.reschedule .group2>.member{
    flex-direction: row-reverse;
}

.card.reschedule .group1>.member .name,
.card.reschedule .group2>.member .name{
    font-weight: 400;
}

.card.reschedule .icon{
    font-weight: 100;
    font-size: 1.2rem;
    align-content: center;

}

.card.reschedule .res{
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: 0rem 0.5rem;
    padding-top: 0.4rem;
}

.card.reschedule .group2{
    padding-bottom: 0.4rem;
}

/* --------------- */
strike{
    text-decoration-thickness: 2px;
}

.hlspan{
    color: black;
    background-color: rgba(0,0,0,0.07);
    padding: 0rem 0.5rem;
    border-radius: 0.3rem;
    font-family: "anton";
}

.hlspan.inv{
    color: white;
    background-color: rgba(0,0,0,255);
}